.dashboard {
  padding: 20px;
}

.information-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0; /* Remove the space between sections */
  justify-content: space-evenly;
  align-content: center;
}

.pie-chart-container {
  width: 250px; /* Set a fixed width to ensure PieChart visibility */
  height: 250px; /* Set a fixed height to ensure PieChart visibility */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the PieChart within the container */
}

.pie-chart {
  width: 200px; /* Full width of the container */
  height: 200px; /* Adjust height to maintain aspect ratio */
}

.add-job-button {
  margin-bottom: 15px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-job-button:hover {
  background-color: #45a049;
}

.search-bar {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  min-width: 300px;
}

.section-2 {
  align-content: center;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px;
}

th {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
