/* /////////////////////////
nav component
///////////////////////// */

header {
  text-align: center;
  padding: 20px;
  background-color: #1aa780;
  color: white;
  font-family: Arial, sans-serif;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #f5f5f0;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

header nav a {
  color: white;
  text-decoration: none;
}

header nav div {
  font-size: larger;
  background-color: #93cec3;
  color: white;
  width: 200px;
  border-radius: 7px;
  transition: background-color 0.2s, color 0.2s;
  padding: 10px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

header nav div:hover {
  background-color: #0f7a5d;
  color: #93cec3;
}

.nav-title {
  text-decoration: none; /* Remove underline from the link */
  color: inherit; /* Inherit color from parent (header) */
}

@media (max-width: 768px) {
  header nav {
    flex-direction: column;
  }

  header nav div {
    margin-bottom: 10px;
  }
}

/* /////////////////////////
auth component
///////////////////////// */

.auth form {
  padding: 50px;
}

.auth form input {
  background-color: white; /* White background for input fields */
  color: #333; /* Darker text color for better readability */
  padding: 12px; /* Increase padding for better spacing */
  border-radius: 8px; /* Rounded corners for modern look */
  border: 1px solid #ccc; /* Light gray border */
  display: block;
  margin: 15px auto; /* Centering input fields with more margin */
  max-width: 350px; /* Limit max width */
  font-size: 1.1em; /* Slightly larger font size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: box-shadow 0.3s ease; /* Transition for focus effect */
}

.auth form input:focus {
  outline: none;
  border-color: #1aa780; /* Change border color on focus */
  box-shadow: 0 4px 8px rgba(26, 167, 128, 0.4); /* Larger shadow on focus */
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the button horizontally */
}

/* Button styling for consistency across components */
.auth-form button,
.auth-form input[type="submit"] {
  background-color: #1aa780;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* Full width of the form container */
  max-width: 300px; /* Set a max width to avoid oversized button */
  margin-top: 10px;
}

.auth-form button:hover,
.auth-form input[type="submit"]:hover {
  background-color: #138965;
}

/* Styling for the "Forgot Password" Section */
.forgot-password {
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  color: #555; /* Subtle gray for the text */
  font-family: Arial, sans-serif;
}

.forgot-password div {
  margin: 10px 0; /* Space between the links */
}

.forgot-password a {
  color: #1aa780; /* Match the primary green of the form */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.forgot-password a:hover {
  color: #138965; /* Darken the green on hover */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}

/* Optional: Add a border or divider between the form and the forgot-password section */
.auth .forgot-password {
  border-top: 1px solid #eee; /* Light border for separation */
  padding-top: 15px; /* Padding above the links */
}
/* /////////////////////////
Dashboard component
///////////////////////// */

.add-job-button {
  background-color: #1aa780;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin-bottom: 20px; /* Add some margin for spacing */
  text-align: center;
}

.add-job-button:hover {
  background-color: #138965;
  color: #e0f7fa;
}

.add-job-button:focus {
  outline: none;
  box-shadow: 0 0 5px #138965;
}

.dashboard {
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
  position: relative;
}

td a {
  color: blue;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

th svg {
  margin-left: 5px;
  font-size: 0.8em;
  vertical-align: middle;
}

/* /////////////////////////
Home component
///////////////////////// */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-container {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
}

.home-container p {
  background-color: white;
  color: #1aa780;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 600px;
}

/* /////////////////////////
Error Message Styles
///////////////////////// */

.error-message {
  background-color: #ffcccc; /* Light red background */
  color: #d8000c; /* Dark red text */
  padding: 10px; /* Spacing around the text */
  border: 1px solid #d8000c; /* Dark red border */
  border-radius: 5px; /* Rounded corners */
  margin: 10px auto; /* Center the message and add spacing */
  text-align: center; /* Center the text */
  font-size: 1.1em; /* Slightly larger font */
}

/* /////////////////////////
Form Component
///////////////////////// */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 300px;
}

.form label {
  font-size: 1em;
  color: #333;
}

.form input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.form input[type="submit"],
.form button[type="button"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1aa780;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button[type="button"] {
  background-color: #d9534f;
}

.form input[type="submit"]:hover,
.form button[type="button"]:hover {
  background-color: #138965;
}

.form button[type="button"]:hover {
  background-color: #c9302c;
}

.form input[type="text"],
.form select.styled-select,
.form input.custom-input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form select.styled-select {
  appearance: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  padding-right: 20px;
}

.form input.custom-input {
  margin-top: 10px;
}

/* Button Group Styling */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group input[type="submit"],
.button-group button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button-group input[type="submit"] {
  background-color: #4caf50;
  color: white;
}

.button-group button {
  background-color: #f44336;
  color: white;
}
