/* /////////////////////////
nav component
///////////////////////// */

header {
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: black;
  text-decoration: none;
}

header nav div {
  font-size: larger;
  background-color: #93cec3;
  color: white;
  width: 200px;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 10px;
}

header nav div:hover {
  background-color: #1aa780;
  color: #93cec3;
}

/* /////////////////////////
auth component
///////////////////////// */

.auth form {
  padding: 50px;
}

.auth form input {
  background-color: #93cec3;
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}

/* /////////////////////////
Dashboard component
///////////////////////// */

.dashboard {
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f2f2f2;
  color: black;
}

td a {
  color: blue;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

/* /////////////////////////
Home component
///////////////////////// */

.home-container {
  text-align: center;
  padding: 20px;
  /* background-color: #93cec3; */
  color: white;
  font-family: Arial, sans-serif;
}

.home-container p {
  background-color: white;
  color: #1aa780;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 600px;
}